.sidebar{

position:fixed;

left:0;

top:0;

width:250px;

height:100vh;

background:#111827;

color:white;

display:flex;

flex-direction:column;

justify-content:space-between;

padding:30px 20px;

box-shadow:4px 0 20px rgba(0,0,0,.08);

}

.logo h2{

margin:0;

font-size:28px;

font-weight:700;

}

.logo p{

margin-top:6px;

color:#9ca3af;

font-size:13px;

}

nav{

display:flex;

flex-direction:column;

margin-top:40px;

gap:10px;

}

nav a{

display:flex;

align-items:center;

gap:15px;

padding:14px;

border-radius:12px;

text-decoration:none;

color:#d1d5db;

font-size:16px;

transition:.3s;

}

nav a:hover{

background:#1f2937;

color:white;

transform:translateX(5px);

}

nav a.active{

background:#2563eb;

color:white;

}

.user{

display:flex;

align-items:center;

gap:12px;

margin-top:auto;

padding-top:30px;

border-top:1px solid #374151;

}

.user h4{

margin:0;

}

.user small{

color:#9ca3af;

}

.logout{

margin-top:20px;

padding:14px;

background:#dc2626;

border:none;

color:white;

border-radius:10px;

cursor:pointer;

display:flex;

justify-content:center;

align-items:center;

gap:10px;

font-size:15px;

transition:.3s;

}

.logout:hover{

background:#b91c1c;

}