.topbar{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:30px;

}

.topbar p{

margin-top:5px;

color:#64748b;

}

.topbar-right{

display:flex;

align-items:center;

gap:20px;

}

.search-box{

display:flex;

align-items:center;

background:white;

padding:10px 15px;

border-radius:10px;

box-shadow:0 2px 8px rgba(0,0,0,.08);

gap:10px;

}

.search-box input{

border:none;

outline:none;

width:220px;

font-size:15px;

}

.icon-btn{

width:45px;

height:45px;

border:none;

background:white;

border-radius:12px;

box-shadow:0 2px 8px rgba(0,0,0,.08);

cursor:pointer;

font-size:18px;

transition:.3s;

}

.icon-btn:hover{

background:#2563eb;

color:white;

}

.profile{

display:flex;

align-items:center;

gap:10px;

font-weight:600;

}